.submit{
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    box-shadow: 10px;
    padding: 10px;
    
}

.input {
    display: flex;
    width: 40%;
    padding: 10px 15px;
    align-items: flex-start;
    box-sizing: border-box;
    box-shadow: 1px 3px 9px;
}

.btn {
    box-shadow: 5px;
}

@media(max-width: 576px){
    .input{
        width: 80%;
    }
}